@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url('assets/Raleway.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background: #f5f5f5;
}

webview {
	width: 100%;
	height: 100%;
}

.tabs {
  position: relative;
  clear: both;
}
.tab {
  float: left;
}
.tab.r {
	float: right;
}
.tab label {
  background: #f5f5f5; 
  padding: 10px;
  padding-left: 35px;
  position: relative;
  top: 10px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}
.tab label img {
	position: absolute;
	top: 7px;
	left: 10px;
	z-index: 100;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  background: #ffffff;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}


h1 {
	font-weight: 600;
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.content.settings {
	padding: 30px 20px;
	font-size: 14px;
}

.content.settings a {
	text-decoration: none;
	color: #41adde;
}

.content.settings .version {
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 10px;
}